<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/auth/login.css">
</head>
<body>
    <div class="container">
        <h1>Đăng nhập vào Smart Home</h1>

        <!-- Hiển thị thông báo lỗi nếu có -->
        <% if (typeof error !== 'undefined') { %>
            <div class="error">
                <%= error %>
            </div>
        <% } %>
    <!-- thẻ <form> cùng với hai thuộc tính là action và method 
    để dữ liệu được gửi đi một cách an toàn trên trình duyệt-->
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required placeholder="Nhập email tài khoản">
            </div>
            <div class="input-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" name="password" id="password" required placeholder="Nhập mật khẩu">                                                            
            </div>
            <div class="input-group">
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <input type="checkbox" name="rememberMe" id="rememberMe">
                        <label for="rememberMe" style="font-size: 0.8em; white-space: nowrap;">Ghi nhớ thông tin đăng nhập</label>
                    </div>
                    <p class="link"><a href="/forgotPassword">Quên mật khẩu</a></p>
                </div> 
            </div>
            <button href="/home" type="submit" class="button">Đăng nhập</button>
        </form>
        <p class="link">Chưa có tài khoản? <a href="/register">Tạo tài khoản</a>
        </p>        
    </div>
</body>
</html>
