<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="about-section">
        <h1>About Us</h1>
        <p>Đây là dự án làm web cho smart home.</p>
    </div>

    <h2 style="text-align:center">Thành viên trong nhóm</h2>
    <div class="team">
        <div class="member">
            <img src="image1.jpg" alt="Thuần">
            <h2>Nguyễn Văn Thuần</h2>
            <p class="title">Mã số sinh viên: 20240651E</p>
            <p>Mô tả</p>
            <p>Email</p>
        </div>
        <div class="member">
            <img src="image2.jpg" alt="Minh">
            <h2>Nguyễn Bá Thanh Minh</h2>
            <p class="title">Mã số sinh viên: 20240484E</p>
            <p>Mô tả</p>
            <p>Email</p>
        </div>
        <div class="member">
            <img src="image3.jpg" alt="Khánh">
            <h2>Nguyễn Ngọc Khánh</h2>
            <p class="title">Mã số sinh viên: 20192936</p>
            <p>Mô tả</p>
            <p>Email</p>
        </div>
        div class="member">
            <img src="image4.jpg" alt="Hưởng">
            <h2>Phạm Văn Hưởng</h2>
            <p class="title">Mã số sinh viên: 20240445E</p>
            <p>Mô tả</p>
            <p>Email</p>
        </div>
    </div>
</body>
</html>
