<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="login-container">
        <h1>Đăng nhập vào Smart Home</h1>

        <!-- Hiển thị thông báo lỗi nếu có -->
        <% if (typeof error !== 'undefined') { %>
            <div style="color: red; font-size: 16px; margin-bottom: 15px;">
                <%= error %>
            </div>
        <% } %>
    <!-- thẻ <form> cùng với hai thuộc tính là action và method 
    để dữ liệu được gửi đi một cách an toàn trên trình duyệt-->
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="username">Tài khoản:</label>
                <input type="text" name="username" id="username" required placeholder="Nhập tên tài khoản">
            </div>
            <div class="input-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" name="password" id="password" required placeholder="Nhập mật khẩu">                                                            
            </div>
            <div class="input-group">
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <input type="checkbox" name="rememberMe" id="rememberMe">
                        <label for="rememberMe" style="font-size: 0.8em; white-space: nowrap;">Ghi nhớ thông tin đăng nhập</label>
                    </div>
                    <a href="/forgot-password" style="font-size: em; text-decoration: none; color: #007BFF;">Quên mật khẩu</a>
                </div> 
            </div>
            <button href="/home" type="submit" class="login-btn" style="color:rgb(200, 195, 189);">Đăng nhập</button>
        </form>
        <p style="color: rgb(200, 195, 189); font-size: 0.9em;">
            Chưa có tài khoản? 
            <a href="/register" style="text-decoration: none; color: #007BFF;">Tạo tài khoản</a>
        </p>        
    </div>
</body>
</html>
