<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home</title>
    <link rel="stylesheet" href="Smart_Home.css">
    <link rel="icon" href="images/logo.svg" type="image/icon type">
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
</head>
<body onload="startTime()">
    <div class="header">
        <h1>Smart Home</h1>
    </div>
    <div class="main-container">
        <div class="sidebar">
            <button onclick="navigateTo('account')">Tài khoản</button>
            <button onclick="navigateTo('living-room')">Phòng khách</button>
            <button onclick="navigateTo('dining-room')">Phòng ăn</button>
            <button onclick="navigateTo('bedroom')">Phòng ngủ</button>
        </div>
        <div class="logo">
            <img src="images/bklogo.jpg" alt="BK Logo">
        </div>
        <div class="dashboard">
            <div id="content">
                <div class="mainrow">
                    <div class="box1">
                        <h2>Today</h2>
                        <div class="datetime">
                            <p id="date"></p>
                            <p id="time"></p>
                        </div>
                        <div class="temp">
                            <div class="Temperature">
                                <strong>24</strong><sup>°C</sup>
                                <p>Temperature</p>
                            </div>
                            <div class="Humidity">
                                <strong>84%</strong>
                                <p>Humidity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="home-btn" onclick="goToHome()">Quay lại trang chủ</button>
        </div>

    </div>
    <script src="Smart_Home.js"></script>
</body>
</html>
